---
description: Comprendre l'impact environnemental du numérique et plus encore !
title: Sensibilisation
short_title: Sensibilisation
class: sensibilisation
css: sensibilisations.css
permalink: /services/sensibilisation/
long_description: Ateliers collaboratifs de sensibilisation sur l'impact environnemental du numérique (comme la Fresque du Numérique) ainsi que sur le numérique responsable (accessibilité, inclusion...).
order: 1
icon_utf8: 🎓
icon: awareness_icon
grid_sizes: --small:100%; --medium:50%; --large:50%;
layout: service

---
<div class="content sensibilisation">
	<p>La première étape avant de considérer la mise en place de la sobriété, c'est de comprendre en quoi les usages numériques ont un impact sur l'environnement.</p>
	<p> Il s'agit d'assimiler l'ensemble des externalités du numériques (au delà de sa contribution au dérèglement climatique) mais également de connaître les ordres de grandeurs afin de savoir ce qui pèse vraiment dans la balance.</p>
	

	<p>Voici quelques exemples d'ateliers de sensibilisation : </p>
{% assign sorted_sensibilisations = site.sensibilisations | sort: 'order' %}
{% for sensibilisation in sorted_sensibilisations %}
	<div class="workshop">
		<h2>{{ sensibilisation.title}}</h2>
		<div class="grid">
			<div class="grid-item" style="--medium:66.666%;">
				<p>
					{{ sensibilisation.summary }}
				</p>
				<div class="les_plus">
					<span class="thumb_up">👍</span>
					<ul>
						{% for plus in sensibilisation.plus %}
						<li>{{plus}}</li>
						{% endfor %}
					</ul>
				</div>
				{% if sensibilisation.url %}
				<p>
					<a href="{{sensibilisation.url}}">En savoir plus</a>
				</p>
				{% endif %}
			</div>
			<div class="grid-item image_container" style="--medium:33.3333%;">
				{% if sensibilisation.image.type %}
				{% include picture.html url=sensibilisation.image.url alt=sensibilisation.image.alt %}
				{% else %}
				<img src="{{sensibilisation.image.url}}" alt="{{sensibilisation.image.alt}}" loading="lazy">
				{% endif %}
			</div>
		</div>
	</div>
{% endfor %}
	
</div>