---
title: Podcasts
description: Ecouter les articles de Simbios sur votre application préférée
layout: markdown
---
<div class="column-content grid content">
    <div class="grid-item is-center" style="--small:100%;--medium:50%">
        {% include picture.html 
            url="/assets/img/podcasts"
            width="200"
            height="200"
            alt="Le visuel du podcast Numérique et environnement : un arbre sur lequel pousse des smartphones."
         %}
        Toutes les semaines, une information de quelques minutes sur le numérique responsable et l'environnement.
    </div>
    <div class="grid-item" style="--small:100%;--medium:50%">
        Retrouvez-nous sur :
        <ul>
            {% for podcast in site.data.podcasts %}
            <li>
                {% include link.html text=podcast.name link=podcast.link %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


