---
title: Réduire l'empreinte de son entreprise
description: Les différentes étapes pour mettre en place une réduction de l'impact environnemental
css: services.css
permalink: /services/
layout: service
---
<div class="grid ">
    {% assign sorted_services = site.services | sort: 'order'  %}
    {% for service in sorted_services %}
    <div class="content-box grid-item service" icon_utf8="{{service.order}}" style="--small:100%;--medium:50%; --large:33%;">
        <div class="content-subhead outer-center">
            <h2 class="inner-center">
                {% if service.short_title %}
                {{ service.short_title }}
                {% else %}
                {{service.title}}
                {% endif %}
            </h2>
        </div>
        <p>
            {{service.long_description}}
        </p>
        <div class="is-center cta">
            <a href="{{service.url}}" class="button">En savoir plus</a>
        </div>
    </div>
    {% endfor %}
</div>