<form target="_blank" class="pure-form pure-form-stacked" action="https://formspree.io/f/mdorwpop" method="POST">
    <fieldset>

        <label for="email">
            Votre email
            <input id="email" name="email" type="email" placeholder="nom@domaine.com" autocomplete="on">
        </label>

        <label for="message">
            Votre message
            <textarea id="message" name="message" class="pure-input-1" placeholder="Bonjour,..."></textarea>
        </label>
        <div class="pure-u-1-2 social">
            <button type="submit" class="pure-button">Envoyer</button>
        </div>
    </fieldset>
</form>