<form 
    class="form" 
    action="https://formsubmit.co/contact@simbios.fr" 
    method="POST"
    >
    <fieldset aria-label="Envoyer un message à Simbios">
        <input type="hidden" name="_next" value="{{site.url}}/message_envoye.html">
        <input type="hidden" name="_subject" value="Nouveau message sur le formulaire de contact">
        <input type="hidden" name="_captcha" value="false">
        <label for="email">
            Votre email
            <input id="email" name="email" type="email" placeholder="nom@domaine.com" autocomplete="on" data-required="true" required aria-required="true">
        </label>

        <label for="message">
            Votre message
            <textarea id="message" name="message" placeholder="Bonjour,..." data-required="true" required aria-required="true"></textarea>
        </label>
        <div class="social">
            <button type="submit" class="button" aria-label="Envoyer le message">Envoyer</button>
        </div>
    </fieldset>
</form>

