<div class="footer content-box is-center">
        <div class="grid content-box">
                <div class="grid-item grid" style="--small:100%;--medium:70%;">
                        <div class="grid-item simbios_logo footer-item" style="--small:25%;--medium:50%;"></div>
                        <div class="grid-item content-box footer-item" style="--small:75%;--medium:50%;">
                                <a href="/a-propos.html">Simbios</a> aide les entreprises et les particuliers à réduire l'empreinte environnementale de leurs activités numériques.
                        </div>
                </div>
                <div class="grid-item grid footer-item" style="--small:100%;--medium:30%;">
                        <a href="/a-propos.html" class="grid-item" style="--small:30%;--medium:100%;">A propos</a>
                        <a href="/mentions-legales.html" class="grid-item" style="--small:40%;--medium:100%;">Mentions légales</a>
                        <a href="/contact.html" class="grid-item" style="--small:30%;--medium:100%;">Contact</a>
                </div>
        </div>
        <div class="ecoindex">
                Score environnemental de la page :
                <a href="https://bff.ecoindex.fr/redirect/?url=https%3A%2F%2Fsimbios.fr{{ page.url }}" target="_blank">
                        {% assign ecoindex = site.data.ecoindex | where: 'path', page.url | first %}
                        {% if ecoindex %}
                        Ecoindex {{ecoindex.grade }} :
                        {{ ecoindex.score }}/100
                        {% else %}
                        Ecoindex A
                        {% endif %} 
                        {% include external_link_icon.html %}
                </a>
                {% if ecoindex %}
                <div class="page_stats">
                        Taille : {{ ecoindex.size}} ko |
                        DOM: {{ ecoindex.nodes}} noeuds | 
                        {{ ecoindex.requests}} requêtes
                </div>
                {% endif %}
        </div>
        <div>2023 Simbios ©</div>
</div>