<p>
    Alsacien d'origine mais Nantais depuis 2016, j'ai un diplôme d'ingénieur (Centrale Lyon) et un master de management (Duke University, USA). </p>
<p>
    J'ai une <a href="https://www.linkedin.com/in/guillaumewolf/" target="new-tab">quinzaine d'années d'expérience dans le secteur du numérique {% include external_link_icon.html %}</a>. J'ai occupé des postes variés dans des startups et chez des éditeurs dans la gestion de produit et de l'équipe de développement.
</p>
<p>
    Je fais attention à mon empreinte environnementale depuis toujours, mais depuis 2021, je suis particulièrement investi dans le numérique responsable : animation d'ateliers de la <a href="https://www.fresquedunumerique.org/" target="new-tab">Fresque du Numérique {% include external_link_icon.html %}</a>, participation à des ateliers d'éco-conception et d'analyse de cycle de vie, adhésion au collectif <a href="https://www.greenit.fr/" target="new-tab">GreenIT {% include external_link_icon.html %}</a> et à <a href="https://nantes-numerique-responsable.org/" target="new-tab">Nantes Numérique Responsable {% include external_link_icon.html %}</a>.
</p>