
<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a href="/">
        <div class="logo pure-menu-heading simbios_logo svg_icons"> </div>
        <span class="pure-menu-heading">SIMBIOS</span>
    </a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/blog/" class="pure-menu-link">
                Blog
            </a>
        </li>
        <li class="pure-menu-item">
            <a href="/contact.html" class="pure-menu-link">
                Contact
            </a>
        </li>
    </ul>      
</div>
