
<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a href="/">
        <div class="logo simbios_logo svg_icons"> </div>
        <span class="pure-menu-heading">SIMBIOS</span>
    </a>
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span> 
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a href="/services/" class="pure-menu-link">
                    Services
                </a>
            </li>
            <li class="pure-menu-item">
                <a href="/blog/" class="pure-menu-link">
                    Blog
                </a>
            </li>
            <li class="pure-menu-item">
                <a href="/contact.html" class="pure-menu-link">
                    Contact
                </a>
            </li>
        </ul>
        
    </div>
</div>
