<div class="services_chart">
    <div class="scroll">
        {% assign sorted_services = site.services | sort: 'order'  %}
        {% for service in sorted_services %}
        <div class="phase {{service.short_title | slugify }}">
            <a href="#{{service.short_title}}" title="{{service.title}}">
                {{service.short_title }}
            </a>
        </div>
        {% endfor %}
        <div class="timeline">
            <span class="left">0 mois</span>
            <span class="center">6 mois</span>
            <span class="right">12 mois</span>
        </div>
    </div>
</div>