<div class="grid">
    <div class="grid-item simbios_part top is-center sim" style="--small:41%;"><b>Sim</b>plicité = Sobriété</div>
    <div class="grid-item"  style="--small:2%;"></div>
    <div class="grid-item simbios_part top is-center bios" style="--small:55%;"><b>BIOS</b> = Numérique</div>
</div>
<div class="grid is-center">
    <div class="grid-item letter sim_hover">S</div>
    <div class="grid-item letter sim_hover">I</div>
    <div class="grid-item letter sim_hover">M</div>
    <div class="grid-item letter bio_hover bios_hover">B</div>
    <div class="grid-item letter bio_hover bios_hover">I</div>
    <div class="grid-item letter bio_hover bios_hover">O</div>
    <div class="grid-item letter bios_hover">S</div>
</div>
<div class="grid">
    <div class="grid-item"  style="--small:43%;"></div>
    <div class="grid-item simbios_part bottom is-center bio" style="--small:41%;"><b>Bio</b>diversité = Environnement</div>
</div>