<div class="grid">
    <div class="grid-item simbios_part top is-center" style="--small:41%;"><b>Sim</b>plicité = Sobriété</div>
    <div class="grid-item"  style="--small:2%;"></div>
    <div class="grid-item simbios_part top is-center" style="--small:55%;"><b>BIOS</b> = Numérique</div>
</div>
<div class="grid is-center">
    <div class="grid-item letter">S</div>
    <div class="grid-item letter">I</div>
    <div class="grid-item letter">M</div>
    <div class="grid-item letter">B</div>
    <div class="grid-item letter">I</div>
    <div class="grid-item letter">O</div>
    <div class="grid-item letter">S</div>
</div>
<div class="grid">
    <div class="grid-item"  style="--small:43%;"></div>
    <div class="grid-item simbios_part bottom is-center" style="--small:41%;"><b>Bio</b>diversité = Environnement</div>
</div>