.splash-container{
	position: relative;
}
.splash-head {
  font-size: 2em;
  font-weight: bold;
  color: white;
  padding: 1em 1.6em;
  line-height: 1em;
}

.content{
	padding: 2em;
}


.post_summary{
	margin-bottom: 1em;
	position: relative;
	&.cas_etudes{
		.ribbon{
			background-color: $dark_teal-color;
			&:before{
				content: "Cas d'étude"
			}
		}
		h2{
			color: $dark_teal-color;
		}
		.chip{
			background: $dark_teal-color;
		}
	}
	.ribbon-wrapper {
		width: 90px;
		height: 90px;
		overflow: hidden;
		position: absolute;
		top: -3px;
		right: -3px;
		.ribbon {
		  font: bold 12px sans-serif;
		  color: #333;
		  text-align: center;
		  -webkit-transform: rotate(45deg);
		  -moz-transform:    rotate(45deg);
		  -ms-transform:     rotate(45deg);
		  -o-transform:      rotate(45deg);
		  position: relative;
		  padding: 2px 0;
		  top: 20px;
		  right: 0px;
		  width: 120px;
		  
		  color: #fff;
		}
		.blog{
			background-color: $light_teal-color;
			&:before{
				content: "Article"
			}
		}
	}
	h2{
		margin-top: 0;
	}
	.description{
		padding: 1em;
	}
	a{
		text-decoration: none;
		p {
			color: $dark_teal-color;
		}
	}
	.thumb_container{
  		display: flex;
		.thumbnail{
			margin: auto;
			max-width: 100%;
			max-height: 200px;
		}
	}
}



.post{
	max-width: 800px;
	margin: auto;
	p{
		width:100%
	}
	img{
		margin-left: auto;  
		margin-right: auto; 
		display: block;
		max-width: 100%;
	}
	em{
		display: block;
		text-align: center;
	}
	a{
		color: $teal-color;
	}
	hr{
		border-color:$teal-color;
	}
	.chip {
	  display: inline-block;
	  background: $light_teal-color;
	  padding: 0 12px;
	  margin-bottom: 12px;;
	  border-radius: 32px;
	  font-size: 16px;
	  color: white;
	}
	.pagination{
		text-align: center;
	}
}