.chip {
    display: inline-block;
    background: $light_teal-color;
    padding: 2px 12px;
    margin-bottom: 12px;;
    border-radius: 32px;
    font-size: 16px;
    color: white;
    line-height: 1em;
}