
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: $dark_teal-color;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $teal-color;
}
a {
    color: $teal-color;
    &[href^="http"]::after {
        content: "⎘";
        padding-left: 5px;
    }
}
hr{
    border-color:$dark_teal-color;
}
/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.content-box {
    padding: 1em;
}

.is-center {
    text-align: center;
}
.column-content{
    max-width: 800px;
	margin: auto;
}

.svg_icons{
    display: inline-block;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    background-color: $dark_teal-color;
    width: 1em;
    height: 1em;
}
.external_link_icon{
    font-size: 120%;
    font-weight: bold;
}

.button {
    background-color: $dark_teal-color;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-family: inherit;
    font-size: 100%;
    border: none transparent;
    text-decoration: none;
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    .svg_icons{
        background-color: white;
    }
}
button {
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    margin: 0;
}



.simbios_logo {
    background-image: url("data:image/svg+xml,%3Csvg width='409.8px' height='379.8px' xmlns='http://www.w3.org/2000/svg'%3E%3Cg data-name='Groupe 85' style='fill:%23000'%3E%3Cg data-name='Groupe 81' style='fill:%23000'%3E%3Cg data-name='Groupe 76' style='fill:%23000'%3E%3Cpath d='M204.2 209.9q13.8 22 17.9 34.7 4.2 12.5 4.2 20.6a35.1 35.1 0 0 1-4.8 17.1 40.4 40.4 0 0 1-13.2 14.3 34.6 34.6 0 0 1-20 5.7q-17.4 0-28-9.8a32.4 32.4 0 0 1-10.5-24.7 58.6 58.6 0 0 1 2.8-16.6q2.8-9.4 13.4-25.9l58.4-92c8-12.3 19.1-26 24-32.7 4.7-6.6 7.2-9.5 7.6-9.6.4 0 3.1 13.1 3.3 13-.4.7-3.7 5-15.1 22-5.2 6.4-9.7 14.6-17.2 26.3L174.3 235a92.4 92.4 0 0 0-8.4 16.7q-3.1 8.5-3.1 14.4 0 11.7 6.2 17.3 6.2 5.4 12.8 5.4a16 16 0 0 0 13-6.2q5.1-6.2 5.1-15.6a40.3 40.3 0 0 0-3-14.7 88.8 88.8 0 0 0-8.4-16.7l-50.4-80.3q-10.7-17.1-17-25.2-6.3-8.1-10.1-10.6a12.2 12.2 0 0 0-7-2.5q-5.2 0-9.1 5.9-4 5.9-4 17.4h-6.6a43.3 43.3 0 0 1-.5-5.3v-8.5q0-16.8 7-28 7-11.4 19.3-11.4a24.4 24.4 0 0 1 12.4 3.3q5.8 3.4 13.7 13.5 8 10.2 20.8 30.8z' transform='translate(-58 6)' style='fill:%23fff'/%3E%3Cpath data-name='Tracé 1' d='M1351.6 465.2c-12.4 17.5-12.2-2.2-4.2-12.8 8-10.5 19.3-25.2 29.9-28.4 10.6-3.1 18.7 3.5 18.7 3.5s5.3 2 8.8 10.5c3.5 8.5 5.2 23.7 5.2 23.7l26.3-26s12.6-11.7 27.8-11.7c15.2 0 22 1.2 33 11.7 11 10.6 11.1 30.5 11.1 30.5l1.5 183H1483s-1.8-174.4-2.1-180.9a27.3 27.3 0 0 0-16.8-21.6c-11.1-4.7-20.6-1.3-27.8 3-7.1 4.2-26.3 27.4-26.3 27.4v172h-26.7V445.7c0-2.4-1.3-10.9-4.8-11.3-3.6-.4-6 0-11.8 9-5.9 9-2.7 4.3-15 21.8z' transform='translate(-1155.8 -347.5)' style='fill:%23fff'/%3E%3C/g%3E%3Cellipse style='opacity:1;fill:%23fff;stroke:%23fff;stroke-width:9.76924;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:0' cx='204.5' cy='189.9' rx='199.6' ry='185' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .simbios_logo {
        background-image: url("/assets/img/simbios-white.svg");
    }
}


/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    width: 100%;
    min-height: 100%;
    background: white;
}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}


.outer-center{
    display: flex;
    justify-content: center;
}
.inner-center{
    margin:auto;
}


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
    /* We decrease the width of the .splash, since we have more width
    to work with */

    .header-head {
        font-size: 250%;
    }

}

