@use "colors";

@media (prefers-color-scheme: dark) {
    body{
        color: colors.$dark_white-color!important;
        .header-container {
            background-image: linear-gradient(colors.$teal-color 4em, colors.$dark_teal-color 100%);
        }
        .home-menu {
            background-color: colors.$teal-color;
            box-shadow: none;
            #menuToggle ul {
                background-color: rgba(colors.$teal-color,.9);
            }
        }
        button, .button {
            background-color: colors.$input_darkmode-color;
        }
        .content-wrapper{
            background: colors.$dark_teal-color;
        }
        hr{
            border-color:colors.$dark_white-color;
        }
        h1, h2, h3, h4, h5, h6 {
            color: colors.$very_light_teal-color;
        }
        a {
            color: colors.$very_light_teal-color;
        }
        .form {
            input[type], textarea {
                background: colors.$input_darkmode-color;
                color: colors.$dark_white-color;
                border-color: grey;
            }
        }
        img {
            filter: grayscale(20%);
            background-color: #FFF2;
        }
    }
}