@media (prefers-color-scheme: dark) {
    body{
        color: $dark_white-color!important;
        .header-container {
            background-image: linear-gradient($teal-color 4em, $dark_teal-color 75%);
        }
        button, .button {
            background-color: $input_darkmode-color;
        }
        .content-wrapper{
            background: $dark_teal-color;
        }
        hr{
            border-color:$dark_white-color;
        }
        h1, h2, h3, h4, h5, h6 {
            color: $light_teal-color;
        }
        a {
            color: lighten($teal-color, 50%);
        }
        .form {
            input[type], textarea {
                background: $input_darkmode-color;
                color: $dark_white-color;
                border-color: grey;
            }
        }
        img {
            filter: grayscale(20%);
            background-color: #FFF2;
        }
    }
}