@use "colors";

.container {
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 250px;
}

.ghost {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: colors.$light_teal-color;
  background-image: linear-gradient(colors.$light_teal-color, colors.$teal-color 75%);
  border: 1px solid colors.$teal-color;
  border-bottom: none;
  transition: transform 1s ease-out 100ms;
  &:hover, &:active {
    transform: translate(0,15px);
  }
}

.face {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20%;
}
.eye-left, .eye-right {
  position: absolute;
  background: colors.$dark_teal-color;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 40%;
}

.eye-left {
  left: 25%;
}
.eye-right {
  right: 25%;
}

.mouth {
  position:absolute;
  top: 50%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent colors.$dark_teal-color colors.$dark_teal-color transparent;
  transform: rotate(45deg);
}

.one, .two, .three, .four {
  position: absolute;
  background: colors.$teal-color;
  top: 85%;
  width: 25%;
  height: 23%;
  border: 1px solid colors.$teal-color;
  z-index: 0;
  box-sizing: content-box;
}

.one {
  border-radius: 0 0 100% 30%;
  left: -1px;
}

.two {
  left: 23%;
  border-radius: 0 0 50% 50%;
}

.three {
  left: 50%;
  border-radius: 0 0 50% 50%;
}

.four {
  left: 74.5%;
  border-radius: 0 0 30% 100%;
}

.shadow {
  position: absolute;
  width: 30%;
  height: 7%;
  background: colors.$dark_teal-color;
  left: 35%;
  top: 80%;
  border-radius: 50%;
}
