.footer {
    background: $teal-color;
    width: 100%;
    margin-top: auto;
    color: white;
    a {
        color: $dark_white-color;
    }
    .simbios_logo {
        height: 80%;
    }
    .footer-item {
        margin: auto;
    }
    .page_stats{
        font-size: 10px;
        margin-top: -8px;
    }

}
.fixed_wrapper{
    margin-bottom: 250px;
    background-color: white;
    box-shadow: 0px 15px 10px -15px #111;
}

.fixed_footer{
    padding-top: 500px;
    background-color: $teal-color;
    position: fixed;
    z-index: -1;
    bottom: 0;
    width: 100%;
}

@media (max-width: 500px){
    .ecoindex {
        font-size: 12px;
    }
}