.grid {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

/* Smartphones in portrait */
.grid-item {
    width: var(--small, 100%);
}

/* Tablets */
@media screen and (min-width: 48em){
    .grid-item {
        width: var(--medium, var(--small, 100%) );
    }
}

/* Larger screens */
@media screen and (min-width: 80em) {
    .grid-item {
        width: var(--large, var(--medium, var(--small, 100%) ));
    }
}