.grid {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

/* Default is medium screen like tablet and landscape Smartphones */
/* (IE 8 doesn't support media so it is in default) */
.grid-item {
    width: 100%;
    width: var(--medium, var(--small, 100%) );
}

/* Smartphones in portrait */
@media screen and (max-width: 48em){
    .grid-item {
        width: 100%;
        width: var(--small, 100%);
    }
}

/* Larger screens */
@media screen and (min-width: 80em) {
    .grid-item {
        width: 50%;
        width: var(--large, var(--medium, var(--small, 100%) ));
    }
}