@use "colors";

.header-container {
    background-color: colors.$teal-color; 
    background-image: linear-gradient(#2B7C85 4em, #175873 75%);
    z-index: 1;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    top: 3.75em;
    padding-top: 3.75em;
    .header {
        /* absolute center .splash within .splash-container */
        width: 90%;
        height: min-content;
        margin: auto;
        top: 0; left: 0; bottom: 0; right: 0;
        text-align: center;
        img{
            max-width: 100%;
        }
        .header-head {
            font-size: 1.75em;
            font-weight: bold;
            color: white;
            padding: 1em 1.6em;
            line-height: 1em;
            overflow-wrap: break-word;
        }
        .header-subhead {
            color: white;
            letter-spacing: 0.05em;
            font-size: 1.2em;
        }
    }
}

.content-wrapper{
    position: relative;
}