.splash-container {
	position: fixed;
	height: 80%;
}
.splash{
	position: absolute;
	width:50%;
}
.content-wrapper {
	position: absolute;
    top: calc(80% + 3.75em);
	z-index: 2;
}

@media (min-width: 48em) {
	.splash {
        width: 30%;
    }
}

@media (min-width: 78em) {
    .splash {
        width: 25%;
    }
}