.under-menu{
    width: 100%;
    height: 3.75em;
    background-color: $light_teal-color;
    position: fixed;
}

.splash-container {
	position: fixed;
	height: 80%;
}
.header-container .header.splash{
	position: absolute;
    .splash_logo{
        width: 50%;
        height: 50%;
        width: min(40vh, 80vw);
        height: min(40vh, 80vw);
        margin: auto;
    }
    .header-subhead {
        font-size: 2em;
        line-height: 1em;
    }
    h1 {
        font-size: 4em;
        padding: 0;
    }
}

.content-wrapper {
	position: absolute;
    top:82%;
    top: calc(80% + 3.75em);
	z-index: 2;
}

.content h2{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
    font-weight: bold;
    text-align: center;
    display: block;
}

.how {
    .background {
        width: 100%;
        margin: 50px 0;
        background: linear-gradient(90deg,$teal-color 25%, rgba($dark_white-color,.25) 25%, rgba($dark_white-color,.25) 75%,$teal-color 75%);
        .how-outer {
            --small:100%; 
            --medium:50%; 
            --large:33%;
            .how-inner{
                h3 {
                    color: $dark_white-color;
                    margin-top: 0;
                }
                hr {
                    color: $dark_white-color;
                    background: $dark_white-color;
                    height: 1px;
                    border: 0;
                    width: 66%;
                }
                background-color: $teal-color;
                height: 225px;
                -webkit-box-shadow: 10px 10px 50px 0px rgba($dark_teal-color,.5);
                -moz-box-shadow: 10px 10px 50px 0px rgba($dark_teal-color,.5);
                box-shadow: 10px 10px 50px 0px rgba($dark_teal-color,.5);

            }
        }
    }
    
}

.why {
    ul {
        text-align: left;
    }
    h3 {
        color: #0d3444;
    }
    h4, p, a {
        color: $dark_teal-color;
        margin: 0.1em;
    }
    p {
        font-size: 0.9em;
        line-height: 1em;
    }
    .why-item {
        height: 100%;
        border-radius: 5px;
        text-align: center;
        svg {
            width:50%;
            max-width: 200px;
            fill: #0d3444;
        }
    }
    .firm {
        background-color: #BFD7EA; 
    }
    .planet {
        background-color: #91AEC1; 
    }
    .people {
        background-color: #76A8BC; 
    }
}
.cost img {
    background-color: transparent;
    filter:none;
    max-width: 100%;
}

.social {
    width:50%;
    span{
        margin-right: 5px;
    }
    a, button{
        width: 90%;
        margin-bottom: 5px;
        text-align: center;
        padding: .5em 0;
    }
}

@media (max-height: 500px) {
    .header-subhead{
        display: none;
    }
}