.markdown {
	p{
		width:100%
	}
	img{
		margin-left: auto;  
		margin-right: auto; 
		display: block;
		max-width: 100%;
	}
	em{
		display: block;
		text-align: center;
	}
	.pagination{
		text-align: center;
	}
	code {
		overflow: scroll;
		display: block;
		border: 1px solid #d0d7de;
		padding: 16px;
		border-radius: 6px;
		color: #1f2328;
  		background-color: #f6f8fa;
		font-size: 0.9em;
		line-height: 1em;
	}
}
@media (prefers-color-scheme: dark) {
    body {
		.markdown {
			code {
				background-color: $input_darkmode-color;
				color: $dark_white-color;
				border:none;
			}
		}
	}
}

audio {
	margin: auto;
	display: block;
}

