.markdown {
	p{
		width:100%
	}
	img{
		margin-left: auto;  
		margin-right: auto; 
		display: block;
		max-width: 100%;
	}
	em{
		display: block;
		text-align: center;
	}
	.pagination{
		text-align: center;
	}
	code {
		overflow: scroll;
		display: block;
		border: 1px solid #d0d7de;
		padding: 16px;
		border-radius: 6px;
		color: #1f2328;
  		background-color: #f6f8fa;
		font-size: 0.9em;
		line-height: 1em;
	}
}
@media (prefers-color-scheme: dark) {
    body {
		.markdown {
			code {
				background-color: $input_darkmode-color;
				color: $dark_white-color;
				border:none;
			}
		}
	}
}

.slider{
	display: block;
	padding: 1em;
	border-top: solid $dark_teal-color 1px;
	text-align: center;

}

@media (min-width: 1000px) {
	.over-content{
		display: flex;
		max-width: 1000px;
		margin: auto;
		.slider{
			width: 200px;
			display: inline-block;
			padding: 1em 0 0 0;
			border: none;
			.chip{
				font-size: 12px;
				margin-bottom: 5px;
				padding: 0 6px;
			}
		}
		.slider .post_info{
			position: sticky;
			top: 5em;
			padding-bottom: 2em;
		}
		.content {
			display: inline-block;
		}
	}
}