.splash-container{
  background: white;
}
.splash img{
  background: #BBB;
  border-radius:100%;
  border: #BBB solid 1em;
}
.splash-subhead, .splash-head {
  color: black;
}
.pure-menu{
  background: white;
}
.pure-menu .pure-menu-heading{
  color: black;
}
.ribbon, .content-head-ribbon {
  background: white;
  color: black;
}
.content, h1,h2,h3,h4,h5, h6, label{
  color: black;
}
.footer{
  background: white;
  color: black;
}
.footer a{
  color: black;
}