@use "colors";

.ribbon {
    background: colors.$teal-color;
    color: white;
    h2{
        color: white;
    }
    a {
        color: colors.$dark_white-color;
    }
    .content-head{
        color: white;
    }
    img {
        border-radius: 128px;
    }
}