.ribbon {
    background: $teal-color;
    color: white;
    h2{
        color: white;
    }
    a {
        color: $dark_white-color;
    }
    .external_link_icon {
        background-color: $dark_white-color;
    }
    .content-head{
        color: white;
    }
    img {
        border-radius: 128px;
    }
}