.search-wrapper{
    position: relative;
    padding: 1em 0 3em;
}
.search-bar {
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    .magnifying_glass {
        fill: currentColor;
        color: gray;
        height: 20px;
        line-height: 20px;
        width: 20px;
        top: 11px;
        display: inline-block;
        position: absolute;
        left: 11px;
        svg {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    #search-input {
        border:none;
        height: 44px;
        outline: none;
        width: 90%;
        width: calc(100% - 40px);
        padding: 0 40px 0;
    }
}
#results-container {
    background: white;
    box-shadow: 0 4px 6px rgba(32,33,36,.28);
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 22px;
    width: 90%;
    width: calc(100% - 40px);
    z-index: 10;
    li {
        display: inline-block;
        width: 100%;
        line-height: 30px;
        height: 30px;
        overflow: clip;
        &:hover {
            background-color: #f7f8f9;
            background-color: rgba($teal-color,.1);
        }
        a {
            color: $dark_teal-color;
            text-decoration: none;
            padding: 0 5px;
            display: inline-flex;
        }
    }
}

@media (prefers-color-scheme: dark) {
    body {
        .search-bar, #search-input, #results-container {
            background-color: $input_darkmode-color;
            color: $dark_white-color;
            border-color: grey;
            li a {
                color: $dark_white-color;
            }
        }
    }
}