@use "colors";

.workshop{
    margin-bottom: 4em;
}

.sensibilisation{
	.image_container{
		display: flex;
		img, picture {
			margin: auto;
			display: block;
			width: 200px;
            background-color: white;
		}
	}
}

.les_plus {
    display: flex;
    border: solid 1px colors.$teal-color;
    padding: 0.5em;
    margin-bottom: 2em;
    background: rgba(colors.$teal-color,.2);
    .thumb_up{
        margin: auto;
        font-size: 2em;
        color: colors.$dark_teal-color;
        text-align: center;
        width: 1.5em;
    }
    ul{
        width:100%;
        width: calc(100% - 3em);
        display: inline-block;
    }
}