.workshop{
    margin-bottom: 4em;
}

.sensibilisation{
	.image_container{
		display: flex;
		img, picture {
			margin: auto;
			display: block;
			max-width: 320px;
            width: 100%;
		}
	}
}

.les_plus {
    display: flex;
    border: solid 1px $teal-color;
    padding: 0.5em;
    margin-bottom: 2em;
    background: rgba($teal-color,.2);
    .thumb_up{
        margin: auto;
        font-size: 2em;
        color: $dark_teal-color;
        text-align: center;
        width: 1.5em;
    }
    ul{
        width:100%;
        width: calc(100% - 3em);
        display: inline-block;
    }
}