@use 'colors' as v;

.services_chart{
    width: 100%;
    position: relative;
    overflow: auto;
    border: 1px solid v.$teal-color;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(v.$teal-color,0.5);
    .scroll {
        overflow: hidden;
        width: 100%;
        position: relative;
    }
    .phase {
        background-color: rgba(v.$teal-color,0.75);
        height: 30px;
        margin-bottom: 5px;
        position: relative;
        a {
            color: white;
            overflow: visible;
            position: absolute;
            line-height: 30px;
            height: 30px;
            width: 200px;
            z-index: 2;
        }
        &:after {
            position: relative;
            display: block;
            left: 100%;
            content: "";
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 15px;
            border-color: transparent transparent transparent rgba(v.$teal-color,0.75);
        }
        &:hover {
            background-color: v.$teal-color;
            &::after {
                border-color: transparent transparent transparent v.$teal-color;
            }
        }
    }
    .avant-projet {
        left:0;
        width:15%;
        width: calc(15% - 15px);
    }
    .sensibilisation {
        left:0%;
        width: 50%;
        width: calc(50% - 15px);
    }
    .etat-des-lieux{
        left:8.33%;
        width:33.33%;
        width: calc(33.33% - 15px);
    }
    .stratégie{
        left:41.66%;
        width:15%;
        width: calc(15% - 15px);
    }
    .réduction{
        left:50%;
        width:41.33%;
        width: calc(41.33% - 15px);
    }
    .formation{
        left:50%;
        width:50%;
        width: calc(50% - 15px);
    }
    .communication {
        left: 85%;
        width: 15%;
        width: calc(15% - 15px);
        a {
            text-align: right;
            right: 0;
        }
    }
    .timeline {
        width: 100%;
        height: 25px;
        .left {
            text-align: left;
            left:0;
        }
        .center {
            text-align: center;
            left:50%;
        }
        .right {
            text-align: right;
            right:0;
        }
        span {
            position: absolute;
        }
    }
}