.service {
    text-align:left;
    position:relative;
    padding-bottom:4em;

    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    background-position: center;

    .content-subhead {
        height:4em;
        margin:1em 0;
        align-items:center;
        h2 {
            margin:0;
            font-size:1.2em;
            position:relative
        }
    }
    p {
        position:relative;
    }
}