.slider{
	display: block;
	padding: 0 1em;
	border-top: solid $dark_teal-color 1px;
    .active {
        color: $teal-color;
    }
	.post_info {
		padding-top: 1em;
	}
}

@media (min-width: 1000px) {
	.over-content{
		display: flex;
		max-width: 1000px;
		margin: auto;
		.slider{
			width: 200px;
			display: inline-block;
			padding: 1em 0 0 0;
			border: none;
			margin:0;
			.chip{
				font-size: 12px;
				margin-bottom: 5px;
				padding: 2px 6px;
			}
			.slider_info{
				position: sticky;
				top: 5em;
				padding-top: 0em;
				h2 {
					font-size: 1em;
				}
			}
			.services_info {
				padding: 0em 1em 2em;
			}
		}
		.content {
			display: inline-block;
		}
	}
}