@use "colors";

.table {
	ul.legend {
		display: none;
	}
	button::before {
		content: "Afficher en graphique"
	}
	table td .data .pielabels {
		display: none;
	}
}
.chart{
	table th {
		z-index: 1;
	}
	button::before {
		content : "Revenir au tableau"
	}
}

table:not(.charts-css) {
	border-collapse: collapse;
	margin: 0 auto;
	width:100%;
	display: block;
	overflow-x: auto;
	text-align: center;
	thead tr {
		background-color: colors.$teal-color;
		color: #ffffff;
		th,dt {
			padding: 12px 15px;
		}
	}

	tbody {
		tr {
			border-bottom: 1px solid #dddddd;
			&:nth-of-type(even){
				background-color: colors.$dark_white-color;
			}
			&:last-of-type {
			border-bottom: 2px solid colors.$teal-color;
			}
		}
		td {
			padding: 0 5px;
		}
	}
}

@media (prefers-color-scheme: dark) {
	body {
		table:not(.charts-css) {
			tbody tr {
				&:nth-of-type(even){
					background-color: #303134;
				}
			}
		}
	}
}