---
title: Articles - Blog
css: posts_list.css
description: Un article par semaine sur le numérique responsble
---
<div class="content column-content">
		{% include search.html %}
	<hr>
{% for post in paginator.posts %}
	<div class="post_summary {{ post.categories | first }}">
		<div class="corner-ribbon-wrapper"><div class="corner-ribbon {{ post.categories | first }}"></div></div>
		<a href="{{ post.url }}">
			<div class="grid">
				<div class="grid-item outer-center" style="--medium:25%">
					{% if post.thumb %}
					{% include picture.html url=post.thumb alt=post.title class="thumbnail inner-center" width="200" height="200" %}
					{% else %}
					<img src="{{post.image}}" class="thumbnail inner-center">
					{% endif %}
				</div>
				<div class="grid-item" style="--medium:75%">
					<div class="description">
						<h2>{{ post.title }}</h2>
						<p>{{ post.description }}</p>
						{% if post.tags %}
						{% include tags_list.html tags=post.tags %}
						{% endif %}
					</div>
				</div>
			</div>
		</a>
	</div>
	<hr>
{% endfor %}
{% if paginator.total_pages > 1 %}
<div class="pagination is-center">
	Voir plus d'articles : 
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Précédents</a>
  {% else %}
    <span>&laquo; </span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span>{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/blog/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Suivants &raquo;</a>
  {% else %}
    <span> &raquo;</span>
  {% endif %}
</div>
{% endif %}
</div>