---
title: Réalisations
description: Voici une sélection des travaux réalisés par Simbios.
css: posts_list.css
---

<div class="content column-content">
	<hr>
{% for post in site.posts %}
    {% if post.categories[0] == "realisations" %}
	<div class="post_summary {{ post.categories | first }}">
		<div class="corner-ribbon-wrapper"><div class="corner-ribbon {{ post.categories | first }}"></div></div>
		<a href="{{ post.url }}">
			<div class="grid">
				<div class="grid-item thumb_container is-center" style="-medium:25%;">
					<img src="{{post.image}}" class="thumbnail">
				</div>
				<div class="grid-item" style="--medium:75%;">
					<div class="description">
						<h2>{{ post.title }}</h2>
						<p>{{ post.description }}</p>
						{% if post.tags %}
						{% include tags_list.html tags=post.tags %}
						{% endif %}
					</div>
				</div>
			</div>
		</a>
	</div>
	<hr>
    {% endif %}
{% endfor %}
</div>