<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="icon" href="/assets/img/simbios-black.svg">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/common.css" media="all">
    {% if page.css %}
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/{{page.css}}" media="all">
    {% endif %}
    {% feed_meta %}
</head>
<body>

    <div class="wrapper">
        {% include menu.html %}
        {{ content }}
    </div>
</body>
    <script defer async data-host="simbios.fr" src="https://liteanalytics.com/lite.js"></script>
</html>