---
layout: page
---


<div class="over-content">
	<div class="content markdown column-content" id="maincontent">
		{{ content}}
	</div>
	<div class="slider">
		<div class="markdown post_info">
			<h4>{{page.title}}</h4>
            <p>
                <div>Type : {{page.type}}</div>
                <div>Durée : {{page.duration}}</div>
				<div>Nb participant.e.s : {{ page.effectif }}</div>
            </p>
            <a href="/contact.html" class="button">Contactez-nous</a>
        </div>
	</div>
</div>