---
layout: page
---

<div class="over-content">
	<div class="content markdown column-content">
		{{ content}}
	</div>
	<div class="slider">
		<div class="markdown post_info">
			{% include picture.html 
				url=page.thumb
				alt=page.title
				width=200
				height=200
			%}
			<h4>{{page.title}}</h4>
			<p>Paru le {{ page.date | date: "%d/%m/%Y" }}</p>
			{% if page.tags %}
			{% include tags_list.html tags=page.tags %}
			{% endif %}
			<div>
				<p>Partager cet article :</p>
				{% for social in site.data.social %}
					{% capture url_path %}{{social.url}}{{site.url}}{{page.url}}{% endcapture %}
					{% capture icon %}<span class="{{social.name}} social_icons inner-center"></span>{% endcapture %}
					{% include link.html link=url_path text=icon class="social_link outer-center" aria-label=social.link_label %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<div class="content-box is-center">
	<a href="/blog/" class="button"> Retour aux articles</a>
</div>
