---
layout: page
css: markdown
---

<div class="over-content">
    <div class="slider column-content">
        <div class="markdown services_info slider_info">
            <h2>{{ site.data.translations[page.lang].services.all_title }}</h2>
            <ol start="0">
                {% assign sorted_services = site.services | sort: 'order' | where: "lang", page.lang %}
                {% for service in sorted_services %}
                <li>
                    {% if page.url == service.url %}
                        <b class="active">
                            {{ service.short_title }}
                        </b>
                    {% else %}
                    <a href="{{service.url}}" title="{{service.title}}">
                        {{ service.short_title }}
                    </a>
                    {% endif %}
                    
                </li>
                {% endfor %}
            </ol>
        </div>
        
        
    </div>
	<div class="content markdown column-content" id="maincontent">
        {{content}}
        <hr>
        <h2>{{ site.data.translations[page.lang].services.contact }}</h2>

        {% include contact_form.html %}
    </div>
</div>